.manageIcon {
  width: 24px;
  height: 16px;
  font-size: 12px;
  line-height: 1.42;
  text-align: left;
  color: #f9a300;
}

.content {
  padding-top: 45px;
  .alertFont {
    line-height: 1.71;
  }

  .accountUsername {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #1D16C8;
  }
}


