.scf-order-detail {
  display: table;
  padding: 10px 0;
  width: 100%;

  .basis-info, .requirement-info, .size-info, .purpose-info{
    background-color: transparent;
    display: table-cell;
    min-width: 200px;
    vertical-align: top;
  }

  .labeled-text {
    margin: 6px 8px;

    .label {
      color: #b2b2b2;
      width: 62px;
      display: inline-block;
      word-break: keep-all;
      vertical-align: top;
    }

    .secondary {
      vertical-align: top;
      display: inline-block;
      max-width: calc(100% - 62px);
      color: #000000;
    }
  }
}
