$main-color: #1D16C8;
$sub-color: #00C3F9;
$header-color: #1D16C8;
$header-color-platform: #298EF5;
$footer-color: #0A058A;
$navigation-background-color: #4f4fdf;
$highlight-orange: #016be6;
$footer-link-color: #FEDDDF;
$button-default-color: #1D16C8;
$button-default-hover-color: #1D16C8;
$link-hover-color: #1D16C8;
$meta-title-color: #00A3F9;
$body-background-color: #ebebed;
$content-background-color: #FFFFFF;
$hover-background-color: #EDEDFB;
$error-message-color: #1D16C8;
$dark-gray: #646464;
$light-gray: #dbd9db;
$light-green: #a5c615;
$light-blue: #2e70d5;
$font-light-gray: #808080;
$font-dark-gray: #525252;
$line-gray: #e9e9e9;
$content-blue: #4085de;
$font-black: #000000;

$tag-blue: #2e70d5;
$tag-green: #25bb52;
$tag-purple: #895cbf;

$border-gray: #e5e5e5;
$label-gray: #686767;
