:root .ant-upload-list-item .anticon-cross {
  font-size: 16px;
  font-weight: bold;
}

.ant-upload-list-item-name {
  padding-left: 22px;
  text-align: left;
  font-size: 16px;
}

.ant-upload-list {
  margin-top: -30px;
  margin-bottom: 140px;
}

.ant-upload-list-item-progress {
  display: none;
}