.payment-failure {
  width: 300px;
  margin: 80px auto;
  .image {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .message {
    margin-top: 16px;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    color: rgb(104, 103, 103);
  }

  .return-order-button {
    margin: 32px 25%;
  }
  :global .button {
    width: 140px;
  }
}