@import '../../../../../styles/colors';

.reset-password {

  button {
    height: 40px;
    padding: 7.5px 54px;
    margin-right: 28px;
  }

  .submit {
    color: #ffffff;
    background-color: $link-hover-color;
  }

  .cancelButton {
    color: $link-hover-color;
    background-color: #ffffff;
  }

  .cancelButton :focus, .cancelButton :hover {
    background-color: #ffffff;
  }
}