.product-list {
  table {
    th {
      padding: 9px 8px;
    }
  }

  .no-product-tips {
    margin-top: 10px;
    text-align: center;

    span {
      vertical-align: baseline;
      color: #299ed5;
      cursor: pointer;
    }
  }
}

.add-product {
  margin-top: 20px;
  text-align: center;
  a {
    color: #4085de;
  }
}

.confirm-text {
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}