.import-clearance {
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #2e70d5;
  color: #2e70d5;
  width: 72px;
  display: inline-block;
  text-align: center;
}

.export-declaration {
  margin-right: 10px;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid #25bb52;
  color: #25bb52;
  width: 72px;
  text-align: center;
}

.export-agent {
  margin-right: 10px;
  width: 72px;
  border-radius: 3px;
  border: 1px solid #895CBF;
  text-align: center;
  color: #895CBF;
  display: inline-block;
}
