.funds-table :global {
  .ant-table-thead > tr > th {
    font-weight: bold;
  }

  .ant-table-thead > tr > th:first-child,
  .ant-table-tbody > tr > td:first-child {
    padding-left: 40px;
  }

  .ant-table-thead > tr > th:last-child,
  .ant-table-tbody > tr > td:last-child {
    padding-right: 40px;
    text-align: right;
  }

  .ant-table-tbody > tr > td:nth-child(2) {
    max-width: 200px;
  }
}