.goodList {
  color: #000000;
  .lineItem {
    padding: 0 0 2px 0;
    justify-content: space-between;

    .goodIcon {
      display: inline-block;
      width: 17px;
      height: 17px;
      background-image: url("../../../../shared/assets/good-icon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      margin: 3px 8px 0 0;
      vertical-align: top;
    }

    .goodName {
      display: inline-block;
      word-wrap: break-word;
      width: calc(100% - 25px);
      vertical-align: top;
    }
  }

  .hiddenItem {
    display: none;
  }

  .status {
    line-height: 1.5;
    color: #4f4fdf;
    padding-left: 25px;
    cursor: pointer;
  }

  .hiddenStatus {
    display: none;
  }
}